{% set build_user = salt['pillar.get']('build_user') %}
{% set build_user_uid = salt['user.info'](build_user)['uid'] %}
{% set build_user_gid = salt['user.info'](build_user)['gid'] %}
{% set export = salt['pillar.get']('nfs_export') %}

# /etc/exports: the access control list for filesystems which may be exported
#		to NFS clients.  See exports(5).
#
# Example for NFSv2 and NFSv3:
# /srv/homes       hostname1(rw,sync,no_subtree_check) hostname2(ro,sync,no_subtree_check)
#
# Example for NFSv4:
# /srv/nfs4        gss/krb5i(rw,sync,fsid=0,crossmnt,no_subtree_check)
# /srv/nfs4/homes  gss/krb5i(rw,sync,no_subtree_check)
#
/home/{{ build_user }}/chromiumos	{{ export }}(rw,sync,no_subtree_check,all_squash,anonuid={{ build_user_uid }},anongid={{ build_user_gid }})

